<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186413382791-nbsn23jsdlvk0hvr5d6bfp798gn8ut6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186413382791-nbsn23jsdlvk0hvr5d6bfp798gn8ut6c</string>
	<key>API_KEY</key>
	<string>AIzaSyCF9Q0hc8xFEPuJbq0Lq34ftZMsSjELfDE</string>
	<key>GCM_SENDER_ID</key>
	<string>186413382791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brtyvz.LastReservation</string>
	<key>PROJECT_ID</key>
	<string>lastreservation-7c0a7</string>
	<key>STORAGE_BUCKET</key>
	<string>lastreservation-7c0a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186413382791:ios:07e1e3f888ec0f952e8c22</string>
</dict>
</plist>